.container {
    margin-top: 20px;
}
.input-group {
    margin-bottom: 20px;
}
.player-list {
    margin-top: 20px;
}
#play-button {
    position: absolute;
    top: 20px;
    right: 20px;
}
#game-info {
    margin-top: 80px;
}
#rounds {
    margin-top: 20px;

}
